@import url('https://fonts.googleapis.com/css2?family=Varta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

body {
  background-color: #f5f5f5;
}

/* Color Scheme */
.mint-green {
  color: #5CDB95;
}

.navy-blue {
  color: #05386B
}

.darker-green {
  color: #379683
}

.lighter-green {
  color: #8EE4AF
}

.ivory {
  color: #EDF5E1
}

/* SideNavBar CSS */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #212121;
  overflow-x: hidden;
  transition: 0.6s;
  /* padding-top: 5rem; */
  /* text-align: center; */
  display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.topnav {
  height: 4rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color:#212121fb;
  z-index: 1;
  overflow: hidden;
}

@media only screen and (max-width: 960px) {
  .topnav {
     height: 4.5rem;
    }
}

.testColor {
  color: #212121d0;
}