@import url('https://fonts.googleapis.com/css2?family=Codystar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varta:wght@500&display=swap');


/* Color Scheme */
.mint-green {
  color: #5CDB95;
}

.navy-blue {
  color: #05386B
}

.darker-green {
  color: #379683
}

.lighter-green {
  color: #8EE4AF
}

.ivory {
  color: #EDF5E1
}