@import url('https://fonts.googleapis.com/css2?family=Codystar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varta:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

body {
  background-color: #eeeeee;
}

/* Color Scheme */
.mint-green {
  color: #5CDB95;
}

.navy-blue {
  color: #05386B
}

.darker-green {
  color: #379683
}

.lighter-green {
  color: #8EE4AF
}

.ivory {
  color: #EDF5E1
}

/* SideNavBar CSS */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #212121;
  overflow-x: hidden;
  transition: 0.6s;
  padding-top: 5rem;
  text-align:center;
}